<div class="ing-form-container">
  <h1>Add new Ingredient</h1>
  <div class="ingredient_form">
    <%= form_with url:
    user_recipe_recipe_foods_path(user_id:@current_user.id,recipe_id:@recipe.id),
    method: :post,scope: :new_recipe_food,local:true  do |form| %> 
    <%= form.label :name, "Select food" %> 
    <%= form.collection_select :food_id, Food.all,:id,:name %> 
    <%= form.label :qty, "Quantity" %> 
    <%= form.number_field :qty, min:0 %>
    <%= form.submit%>
    <% end %>
  </div>
  <p>If the food item is not in the list, please add it here
    <%= link_to "Add Food Item", new_user_food_path(user_id:1) %>
  </p>
</div>
